@import 'tailwindcss';
/* @source '../src'; */
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-sans: Geist, Inter, Figtree, Helvetica, Arial;

  /* --spacing-2px: rgb(2px);
  --spacing-1_2: rgb(0.3rem);
  --spacing-1_4: rgb(0.35rem);
  --spacing-3\/10: rgb(30%);
  --spacing-4\/10: rgb(40%);
  --spacing-9\/10: rgb(90%); */
 
  --spacing-header: 3rem;

  --breakpoint-2xl: 112rem;
  --breakpoint-3xl: 128rem;
  --breakpoint-4xl: 144rem;
  --breakpoint-5xl: 160rem;

  /* --scale-101: 1.01;
  --scale-102: 1.02;
  --scale-104: 1.04;

  --leading-8: 2rem;
  --leading-10: 2.5rem;
  --leading-12: 3rem; */

  /* --color-gray-50: rgb(#f9fafb);
  --color-gray-100: rgb(#f3f4f6);
  --color-gray-200: rgb(#e5e7eb);
  --color-gray-300: rgb(#d1d5db);
  --color-gray-400: rgb(#9ca3af);
  --color-gray-500: rgb(#6b7280);
  --color-gray-600: rgb(#4b5563);
  --color-gray-700: rgb(#374151);
  --color-gray-800: rgb(#1f2937);
  --color-gray-900: rgb(#111827);
  --color-gray-950: rgb(#030712); */

  --color-border: var(--color-border);
  /* --color-border-light: var(--color-border-light); */
  --color-border-dark: var(--color-border-dark);

  --color-input: var(--color-input);
  --color-ring: var(--color-ring);
  --color-body: var(--color-body);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-primary: var(--color-primary);
  --color-primary-alt: var(--color-primary-alt);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-theme: var(--color-theme);
  --color-theme-muted: var(--color-theme-muted);
  --color-theme-alt: var(--color-theme-alt);
  --color-theme-foreground: var(--color-primary-foreground);

  /* --color-secondary: var(--color-secondary);
  --color-secondary-foreground: var(--color-secondary-foreground); */

  --color-destructive: var(--color-destructive);
  --color-warning: var(--color-warning);
  --color-destructive-alt: var(--color-destructive-alt);
  --color-destructive-foreground: var(--color-destructive-foreground);

  --color-shortcuts: var(--color-shortcuts);

  --color-faint: var(--color-faint);
  --color-muted: var(--color-muted);
  --color-accent: var(--color-accent);
  /* --color-toolbar-foreground: var(--color-toolbar-foreground); */

  /* --color-dialog: var(--color-dialog); */

  /* --color-accent: var(--color-accent); */
  /* --color-accent-dark: var(--color-accent-dark);
  --color-accent-foreground: var(--color-accent-foreground); */

  --color-popover: var(--color-popover);
  --color-popover-foreground: var(--color-popover-foreground);
  --color-popover-alt: var(--color-popover-alt);

  --color-card: var(--color-card);
  --color-card-foreground: var(--color-card-foreground);

  --color-overlay: var(--color-overlay);

  --shadow-search: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  --shadow-box: 0 4px 32px rgba(0, 0, 0, 0.1);
  --shadow-box2: 0 0 8px 4px rgba(0, 0, 0, 0.25);
  --shadow-header: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-4xl:
    rgba(0, 0, 0, 0.25) 0px 0px 100px -20px,
    rgba(0, 0, 0, 0.25) 0px 30px 60px -30px;
  --shadow-3xl: 0px 0px 32px 8px rgba(0, 0, 0, 0.25);
  /* In order to have a glass effect, which ignores the dimming effect, we create a shadow to fill the screen so that the background appears dimmed, except where the glass div is (sort of like you see in iOS) */
  --shadow-glass:
    0px 0px 32px 8px rgba(0, 0, 0, 0.2), 0 0 0 100vw rgba(0, 0, 0, 0.2);
  --shadow-dark-glass:
    0px 0px 32px 8px rgba(0, 0, 0, 0.2), 0 0 0 100vw rgba(0, 0, 0, 0.5);
  /* --shadow-glass:
    inset 0 0 0 3000px rgba(150, 150, 150, 0.2),
    rgba(150, 150, 150, 0.2) 0px 0px 100px -20px,
    rgba(150, 150, 150, 0.2) 0px 30px 60px -30px; */
  /* --shadow-dark-glass:
    inset 0 0 0 3000px rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.3) 0px 0px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

  /* --border-width-3: 3px; */

  --radius-theme: var(--radius-theme);
  --radius-menu: var(--radius-menu);
  --radius-card: var(--radius-card);

  /* --inset-0_75: 0.1875rem;

  --padding-0_75: 0.1875rem; */

  /* --z-index-60: 60;
  --z-index-70: 70;
  --z-index-80: 80;
  --z-index-90: 90;
  --z-index-100: 100;
  --z-index-110: 110; */
  --z-overlay: 200;
  --z-modal: 300;
  --z-alert: 400;

  /* --grid-template-columns-16: repeat(16, minmax(0, 1fr));
  --grid-template-columns-20: repeat(20, minmax(0, 1fr));

  --grid-column-span-13: span 13 / span 13;
  --grid-column-span-14: span 14 / span 14;
  --grid-column-span-15: span 15 / span 15;
  --grid-column-span-18: span 18 / span 18;

  --stroke-width-2: 2px;
  --stroke-width-3: 3px;
  --stroke-width-4: 4px; */

  --text-xxs: 0.6rem;

  /* --transition-property-filter: filter;
  --transition-property-placeholder: opacity, filter, transform; */

  /* --margin-18: rgb(4.5rem);

  --grayscale-50: rgb(50%); */

  /* --ease-smooth: cubic-bezier(0.83, 0, 0.17, 1);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out; */

  /* @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  } */
}

:root {
  --color-body: oklch(0.985 0.002 247.839);
  --color-background: white;
  --color-foreground: oklch(27.8% 0.033 256.848);
  --color-card: white;
  --color-card-foreground: rgb(31 41 55);
  --color-popover: white;
  --color-popover-foreground: rgb(31 41 55);

  --color-primary: oklch(0.28 0.03 257);
  --color-primary-alt: oklch(0.37 0.03 260);
  --color-primary-foreground: white;

  --color-theme: oklch(0.623 0.214 259.815);
  --color-theme-muted: oklch(0.707 0.165 254.624);
  --color-theme-alt: oklch(0.546 0.245 262.881);

  --color-shortcuts: rgb(229 231 235);

  --color-faint: oklch(0.967 0.003 264.542);
  --color-muted: oklch(0.928 0.006 264.531);
  --color-accent: oklch(0.872 0.01 258.338);

  --color-border: oklch(0.872 0.01 258.338);
  --color-border-dark: oklch(0.707 0.022 261.325);

  --color-destructive: oklch(0.704 0.191 22.216);
  --color-warning: oklch(0.879 0.169 91.605);
  --color-destructive-alt: rgb(220 38 38);
  --color-destructive-foreground: white;

  --color-overlay: rgb(2 6 23);
  --color-input: rgb(241 245 249);
  --color-ring: oklch(0.81 0.1 252);

  --radius-theme: 0.375rem;
  --radius-menu: 0.25rem;
  --radius-card: 0.75rem;
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --color-body: oklch(0.27 0 0);
  --color-background: oklch(0.37 0 0);
  --color-foreground: white;
  --color-card: rgb(38 38 38);
  --color-card-foreground: rgb(248 250 252);
  --color-popover: rgb(38 38 38);
  --color-popover-foreground: white;
  --color-primary: rgb(37 99 235);
  --color-primary-foreground: white;

  --color-theme: oklch(80.9% 0.105 251.813);
  --color-theme-muted: rgb(96 165 250);
  --color-faint: oklch(0.44 0 0);
  --color-muted: oklch(0.44 0 0);
  --color-accent: oklch(0.56 0 0);
  /* --color-accent: rgb(115 115 115);
  --color-accent-foreground: white; */
  --color-destructive: rgb(239 68 68);
  --color-destructive-foreground: white;
  --color-overlay: rgb(2 6 23);
  --color-border: rgb(115 115 115);
  --color-border-light: rgb(51 65 85);
  --color-border-dark: rgb(115 115 115);
  --color-input: rgb(115 115 115);
  --color-ring: rgb(96 165 250);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Default cursor for buttons, removed in v4 so must be added */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  html {
    @apply font-sans tracking-wide antialiased;
  }
}

/* @utility trans-100 {
  @apply duration-100 ease-in-out;
}

@utility trans-200 {
  @apply duration-200 ease-in-out;
} */

@utility trans-300 {
  @apply duration-300 ease-in-out;
}

.trans-500 {
  @apply duration-500 ease-in-out;
}

.trans-color {
  @apply trans-300 transition-colors;
}

.trans-opacity {
  @apply trans-300 transition-opacity;
}

.trans-shadow {
  @apply trans-300 transition-shadow;
}

.trans-transform {
  @apply transition-transform duration-300 ease-in-out;
}

.trans-all {
  @apply transition-all duration-300 ease-in-out;
}

input,
textarea {
  @apply bg-transparent;
}

.boldable-text-tab {
  @apply text-nowrap;
}

/* // we use this on text tabs to keep the width fixed
// when we bold or debold the text by duplicating
// the label as a hidden bolded element to force
// the width of the element. The tab uses a flex col
// layout so the hidden element is rendered under
// the real label, but since it has a height of 0
// and is hidden, it occupies no vertical space
// but keeps its width
// https://css-tricks.com/bold-on-hover-without-the-layout-shift/  */
.boldable-text-tab::after {
  @apply pointer-events-none invisible flex h-0 flex-col overflow-hidden font-bold select-none;
  content: attr(aria-label);
}

.markdown {
  h1 {
    @apply font-bold;
  }

  h2 {
    @apply mt-2 font-bold;
  }

  h3 {
    @apply mt-2 font-bold;
  }

  p {
    @apply mb-1;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

.changelog {
  @apply text-sm;

  h1 {
    @apply text-xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }
}

.help {
  @apply h-screen;

  h1 {
    @apply font-bold;
  }

  h2 {
    @apply border-border/70 mb-4 border-b py-2 text-base font-bold;
  }

  h3 {
    @apply pb-1;
  }

  ol,
  ul {
    @apply ml-4 flex flex-col gap-y-2;
  }
}

/* scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
}

.custom-scrollbar::-webkit-scrollbar:disabled {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-button,
.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
  cursor: pointer;
  display: none;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-foreground/30 rounded-full;
}

/* collapse */

.collapsible-content {
  overflow: hidden;
}

.collapsible-content[data-state='open'] {
  animation: slide-down 200ms ease-out;
  animation-fill-mode: forwards;
}

.collapsible-content[data-state='closed'] {
  animation: slide-up 200ms ease-out;
  animation-fill-mode: forwards;
}

/* @keyframes slide-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
} */

/* color picker */

.color-picker .react-colorful {
  width: auto;
  height: 10rem;
}

.color-picker .react-colorful__hue,
.react-colorful__alpha {
  height: 0.5rem !important;
  border-radius: 999px !important;
}

.color-picker .react-colorful__hue {
  margin-top: 1rem;
}

.color-picker .react-colorful__alpha {
  margin-top: 1rem;
}

.color-picker .react-colorful__pointer {
  width: 1rem !important;
  height: 1rem !important;
}

.color-picker .react-colorful__saturation {
  border-radius: 0.5rem !important;
  border: none !important;
  box-shadow: none;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* clears the ‘X’ from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
  scrollbar-width: none;
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
